<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% block content %}
<main>
  <div>
    <p><span id="main_contrast_word">Descubra</span> sua</p>
    <p>Proxima leitura!</p>
    <p id="main_first_column_description">Utilizar o Book Search como sua principal plataforma de pesquisa de livros oferece resultados rápidos e precisos, otimizando a experiência e satisfação do usuário.</p>
    <div>
       {% include "/button/button.html" %}
    </div>
  </div>
  <div id="main_second_column">
    <img src="{{ url_for('static', filename='images/image_main.png') }}">
  </div>
</main>
{% endblock %}