{% macro large_card(image = "default", title = "default", author = "default", gender = "default", synopsis = "default") %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/large_card.css') }}">
<div id="macro_large_card">
    <img src="{{ image }}">
    <div>
        <h1>{% if title %}
                {{title}}
            {% else %}
                Título não encontrado
            {% endif %}
        </h1>
        <p id="macro_large_card_author">
            {% if author %}
                {{ author[0]}}
            {% else %}
                Autor não encontrado
            {% endif %}
        </p>
        <p id="macro_large_card_gender">
            <span>
            {% if gender %}
                {{ gender[0]}}
            {% else %}
                Gênero não encontrado
            {% endif %}
        </span></p>
        <div>
            <p>
                {% if s %}
                    {{ synopsis }}
                {% else %}
                    Sinopse não encontrada
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endmacro %}