button {
    cursor: pointer;
    width: 270px;
    height: 40%;
    font-weight: 600;
    border: none;
    background-color: #E6C32F;
    transition: background-color 0.5s ease-in-out;
}
.fa-arrow-right {
    background: transparent;
    color: white;
    padding-left: 10px;
}
button:hover {
    background-color: #D3B32C;
}
button > p {
    color: white;
    background: transparent;
    font-size: 23px;
}
@media (max-width: 850px){
    button {
        width: 240px;
    }
}

@media (max-width: 550px){
    button {
        width: 200px;
    }
    button > p {
        font-size: 19px;
    }
}