@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

nav {
    width: 100%;
    height: 200px;
    background-color: #E8E7D5;
}
nav > div {
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}
nav > div > p {
    color: #0A1E33;
    font-weight: 200;
    background: #E8E7D5;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}
div > p > #nav_contrast_word {
    color: #455A64;
    font-weight: 800;
    background: #E8E7D5;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #E6C32F;
}
@media (max-width: 1440px) {
    nav > div {
        width: 30%;
    }
}
@media (max-width: 1340px) {
    nav > div {
        width: 35%;
    }
}
@media (max-width: 1050px) {
    nav > div {
        width: 45%;
    }
    nav {
        height: 180px;
    }
}
@media (max-width: 750px) {
    nav > div {
        width: 55%;
    }
}
@media (max-width: 650px) {
    nav > div {
        width: 60%;
    }
    nav {
        height: 160px;
    }
}
@media (max-width: 550px){
    nav > div > p {
        padding-left: 52px;
    }
}
@media (max-width: 455px) {
    nav > div {
        width: 70%;
    }
    nav > div > p {
        font-size: 35px;
    }
}
@media (max-width: 400px) {
    nav > div {
        width: 75%;
    }
    nav > div > p {
        font-size: 30px;
    }
}
@media (max-width: 440px) {
    nav > div > p {
        padding-left: 5px;
    }
}
@media (max-width: 380px) {
    nav > div > p {
        padding-left: 0px;
    }
}
@media (max-width: 350px) {
    nav > div > p {
        padding-left: 13px;
    }
}
@media (max-width: 310px) {
    nav > div > p {
        padding-left: 45px;
    }
}