@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

#component_search {
    width: 100%;
    height: 45%;
    font-family: "Plus Jakarta Sans", serif;
}
#component_search > div {
    width: 100%;
    height: 150px;
    background-color: #F9F9F9;
}
#component_search > div > h1 {
    background-color: red;
    font-size: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: transparent;
    color: #0A1E33;
}
#component_search > div > div > button {
    width: 140px;
    height: 40px;
    background-color: #F9F9F9;
    border-color: #E6C32F;
    border-style: solid;
    font-size: 18px;
    color: #E6C32F;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}
#component_search > div > div > button:hover {
    background-color: #E6C32F;
    color: white;
    font-weight: 700;
}
#component_search > div > div {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #F9F9F9;
}
#component_search > div > #search_field_input {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#component_search > div > #search_field_input > p {
    font-size: 27px;
    background-color: transparent;
    color: #0A1E33;
    font-weight: 700;
    width: 80%;
    padding-left: 160px;
}
#component_search > div > #search_field_input > input {
    width: 80%;
    margin-left: 160px;
    height: 40px;
    border-style: solid;
    border-color: #0A1E33;
}
#search_field_input > input {
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600
}
#search_field_input > input::focus {
    font-size: 30px;
}
#component_search > div > #search_field_input > input::placeholder {
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
}
@media (max-width: 1250px) {
    #component_search > div > #search_field_input > input {
        margin-left: 100px;
    }
    #component_search > div > #search_field_input > p {
        padding-left: 100px;
        font-size: 25px;
    }
}

@media (max-width: 1080px) {
    #component_search {
        height: 450px;
    }
    #component_search > div > h1 {
        font-size: 40px;
    }

    #component_search > div > #search_field_input > input {
        margin-left: 40px;
    }
    #component_search > div > #search_field_input > p {
        padding-left: 40px;
        font-size: 20px;
    }
    #component_search > div > div {
        display: grid;
        height: 200px;
        grid-template-columns: 140px 140px
    }
}
@media (max-width: 800px) {
    #component_search > div > h1 {
        font-size: 30px;
    }
}
@media (max-width: 700px) {
    #component_search > div > #search_field_input > p {
        font-size: 15px;
    }
}

@media (max-width: 625px) {
    #component_search > div > div {
        height: 200px;
        display: grid;
        grid-template-columns: 140px 150px
    }
    #component_search > div > #search_field_input > p {
        width: 60%
    }
}
@media (max-width: 475px) {
    #component_search > div > #search_field_input > p {
        width: 70%
    }
}
@media (max-width: 375px) {
    #component_search > div > #search_field_input > p {
        width: 75%
    }
}
@media (max-width: 365px) {
    #component_search > div > #search_field_input > p {
        padding-left: 17px;
    }
    #component_search > div > #search_field_input > input {
        margin-left: 17px;
    }
}