@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.dynamic_text {
    background-color: #E6C32F;
    display: inline-block;
}
.dynamic_text > h1 {
    padding: 10px;
    font-weight: 800;
    color: #0A1E33;
    font-family: "Plus Jakarta Sans", sans-serif;
}
