<link rel="stylesh eet" href="{{url_for('static', filename='css/books.css')}}">
{% import "macros/card/card.html" as card %}
{% block content %}
<div id="page_books">
    <p>Livros recomendados</p>
    <div>
        {% for book in data %}
            {{ card.card(
        volume_id = book["id"],
        title = book["title"],
        author = book["authors"],
        gender = book["categories"],
        synopsis = book["description"],
        image = book["image"],
        ) }}
        {% endfor %}
    </div>
</div>
{% endblock %}