<link rel="stylesh eet" href="{{url_for('static', filename='css/books.css')}}">
{% import "macros/card/card.html" as card %}
{% block content %}
<div id="page_books">
    <p>Livros recomendados</p>
    <div>
        {{ card.card(
        title = data[0]["title"],
        author = data[0]["authors"],
        gender = data[0]["categories"],
        synopsis = data[0]["description"],
        image = data[0]["image"],
        ) }}
         {{ card.card(
        title = data[1]["title"],
        author = data[1]["authors"],
        gender = data[1]["categories"],
        synopsis = data[1]["description"],
        image = data[1]["image"],
        ) }}
         {{ card.card(
        title = data[2]["title"],
        author = data[2]["authors"],
        gender = data[2]["categories"],
        synopsis = data[2]["description"],
        image = data[2]["image"],
        ) }}
         {{ card.card(
        title = data[3]["title"],
        author = data[3]["authors"],
        gender = data[3]["categories"],
        synopsis = data[3]["description"],
        image = data[3]["image"],
        ) }}
         {{ card.card(
        title = data[4]["title"],
        author = data[4]["authors"],
        gender = data[4]["categories"],
        synopsis = data[4]["description"],
        image = data[4]["image"],
        ) }}
         {{ card.card(
        title = data[5]["title"],
        author = data[5]["authors"],
        gender = data[5]["categories"],
        synopsis = data[5]["description"],
        image = data[5]["image"],
        ) }}
    </div>
</div>
{% endblock %}