<link rel="stylesheet" href="{{url_for('static', filename='css/escolher_genero.css')}}">

{% block content %}
<div class="template_escolher_genero">
    <div class="template_escolher_genero_div_um">
        <h1 class="template_escolher_genero_div_h1">Qual gênero deseja?</h1>
    </div>
    <div class="template_escolher_genero_div_dois">
        <div class="template_escolher_genero_div_dois_botoes">

        </div>
        <p>Sobre o que você gostaria de receber uma recomendação de livro?</p>
        <input placeholder="Buscar no Book Search">
    </div>
</div>
{% endblock %}