{% macro card(volume_id, image = "default", title = "default", author = "default", gender = "default", synopsis = "default") %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}">
<div id="page_books_card">
    <img src="{{ image if image != 'default' else '/static/img/default_image.jpg' }}">
    <div id="component_card">
        <h1>{{ title | truncate(70) }}</h1>
        <p style="margin-top: 10px;">{{ author[0] | truncate(20, True, " ...")}}</p>
        <p id="component_card_gender_book">{{ gender[0] | truncate(45, True, " ...")}}</p>
        <div>
            <p id="component_card_synopsis"><strong>Sinopse:</strong> {{ synopsis | truncate(180, True, " ...")}}</p>
        </div>
        <button>
            <a href="{{ url_for('new_book.index', id=volume_id)}}">Ver mais</a>
        </button>
    </div>
</div>
{% endmacro %}