<link rel="stylesheet" href="{{ url_for('static', filename='css/new_book.css') }}">
{% import "macros/button/button.html" as button %}
{% import "macros/large_card/large_card.html" as large_card %}
{% import "macros/texts.html" as texts %}
<section id="new_book_section">
    <div>
        {{ texts.dynamic_text("Descubra essa nova leitura!", "60") }}
    </div>
    <section>
        {{ large_card.large_card(
        title = data["title"],
        author = data["authors"],
        gender = data["categories"],
        synopsis = data["description"],
        image = data["image"],
        ) }}
        <a href="{{ url_for('home.index') }}">
        {{ button.button("Voltar") }}
        </a>
    </section>
</section>


