<link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">

{% block content %}
<div id="component_search">
    <div>
        <h1>Qual gênero deseja?</h1>
    </div>
    <div>
        <div>
            {% set botoes = ["Comédia", "Drama", "Romance", "Suspense", "Fantasia", "Auto-ajuda"] %}
            {% for botao in botoes %}
                <button>{{ botao }}</button>
            {% endfor %}
        </div>
        <div id="search_field_input">
            <p>Sobre qual assunto específico gostaria de receber uma recomendação?</p>
            <input type="text" id="input" placeholder="Buscar no Book Search">
        </div>
    </div>
    <script>
        const homeIndex = "{{ url_for('home.index') }}";
    </script>
    <script src="{{ url_for('static', filename='js/searchBook.js') }}"></script>
</div>
{% endblock %}