<link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">

{% block content %}
<div id="component_search">
    <div>
        <h1>Qual gênero deseja?</h1>
    </div>
    <div>
        <div>
            {% set botoes = ["Comédia", "Drama", "Romance", "Suspense", "Fantasia", "Auto-ajuda"] %}
            {% for botao in botoes %}
                <button>{{ botao }}</button>
            {% endfor %}
        </div>
        <div id="search_field_input">
            <p>Sobre qual assunto específico gostaria de receber uma recomendação?</p>
            <input type="text" id="input" placeholder="Buscar no Book Search">
        </div>
    </div>
    <script>
         document.getElementById("input").addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                event.preventDefault();

                let valor = this.value;

                fetch('{{ url_for("home.index") }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ message: valor })
                })
                .then(response => {
                     if (response.redirected) {
                        window.location.href = response.url;
                    } else {
                        return response.text();
                        }
                    })
                .then(html => {
                    document.open();
                    document.write(html);
                    document.close();
                })
                .catch(error => console.error('Erro:', error));

                this.value = "";
            }
        });
    </script>
</div>
{% endblock %}